# logs
log

# config
config/secret.js
config/firebase_key.json
config/kakao_config.js
config/mail_config.js
config/sens_config.js

# eslint
.eslintignore
.eslintrc.js

dist
.DS_Store
node_modules
package-lock.json