dist

# logs
log

# node_modules
node_modules

# package.json
package-lock.json

# config
config/secret.ts
config/firebase_key.json
config/kakao_config.ts
config/mail_config.ts
config/sens_config.ts

# eslint
.eslintignore
.eslintrc.js

# OS Files
.DS_Store

